body{
    margin:0px;
}
.header{
    margin:0px;
}
.header-item{
    position: relative;

}
.header-item img{
    width:100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    margin-bottom: 130px;
}
.header-item-text{
    text-align: center;
    position: absolute;
    top:0;
    padding-top: 174px;
    padding-left:307px;
    
    
}


.header-item .header-item-title{

color: #FFF;
font-size: 50px;
font-weight: 700;
width: 800px;
margin-bottom: 20px;

}
.header-item .header-item-subtitle{
    width: 691px;
   color:white;
font-size: 18px;
font-weight: 400;
margin-bottom: 35px;
padding-left:68px;
    
}
.btn-primary{
    background-color: orangered;
    color:white;
    width: 160px;
padding: 16px 12px;
font-size: 20px;
font-weight: 600;
border-radius:8px;
border:0;
}
.main{
    text-align: center;
}
.main-contain .main-contain-title{
    color: #070606;
text-align: center;
font-size: 45px;

font-weight: 700;

}
.main-contain .main-contain-subtitle{
    color: #707070;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
width: 691px;
padding-left:375px; /* 155.556% */
}
.main-contain .main-contain-item1{
    display:flex;
    margin:50px 315px 60px 425px;
}
.main-contain-item1 .main-contain-box{
   width:90px;
   height:80px;
    border-radius: 5px;
background: #eae7e7;
color: #707070;
text-align: center;
font-family: Inter;
font-size: 30px;
font-weight: 700;
margin-right:22px;
}
.main-contain-item1 .main-contain-box2{
    width:90px;
    height:80px;
    border-radius: 5px;
border: 2px solid #FF5959;
background: #FEE;

 color: orangered;
 text-align: center;
 font-family: Inter;
 font-size: 30px;
 font-weight: 700;
 margin-right:22px;
 }
.main-comment{
    color: #B3B3B3;
text-align: center;

font-family: Poppins;
font-size: 18px;
font-weight: 400;

}
.underline{
    width: 765px;
height: 0px;
margin-top:10px;
margin-bottom: 30px;
}
.plan{
    text-align: center;
}
.plan .plan-container-item2{
    display: flex;
    justify-content: center;
    text-align: left;
}
.plan-container-item1 .plan-container-title{
    color: #121212;
text-align: center;
font-size: 45px;
font-weight: 700;


}
.plan-container-item1 .plan-container-subtitle{
color: #707070;
text-align: center;
font-size: 18px;
font-weight: 400;
}
.plan-container-item2 .plan-contain-box1{
    width: 360px;
height: 352px;
border-radius: 5px;
background: rgba(79, 157, 166, 0.10);
border:0;
margin-right:24px;
padding-left:23px;
padding-top:63px;

}
.plan-container-item2 .plan-contain-box2{
    width: 360px;
height: 352px;
border-radius: 5px;
background: rgba(255, 89, 89, 0.10);
border:0;
margin-right:24px;
padding-left:23px;
padding-top:63px;

}
.plan-container-item2 .plan-contain-box3{
    width: 360px;
height: 352px;
border-radius: 5px;
background:#FFF4D6;
border:0;
padding-left:23px;
padding-top:63px;
}
.plan-container-item2 .plan-contain-box-title{
    color: #121212;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top:30px;
margin-bottom: 16px;

}
.plan-container-item2 .plan-contain-box-subtitle{
    color: #707070;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    
}
.contribute .contribute-item1{
    display:flex;
 }
 .contribute-text{
     margin:182px 30px 0px 156px;
 }
 .contribute-item1 .contribute-item-title{
     color: #121212;
 font-feature-settings: 'clig' off, 'liga' off;
 font-family: Inter;
 font-size: 45px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 width: 492px;
 
 
 }
 .contribute-item1 .contribute-item-subtitle{
     color: #707070;
 font-feature-settings: 'clig' off, 'liga' off;
 font-family: Poppins;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 28px; 
 width: 482px;/* 155.556% */
 margin-top:20px;
 width: 315px;
height: 101px;

 }
 .contribute-item2 .contribute-item-title{
     color: #121212;
 font-feature-settings: 'clig' off, 'liga' off;
 font-family: Inter;
 font-size: 45px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 width: 333px;
 margin-top:80px;
 
 }
 .contribute-item2 .contribute-item-subtitle{
     color: #707070;
 font-feature-settings: 'clig' off, 'liga' off;
 font-family: Poppins;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 28px; 
 width: 482px;/* 155.556% */
 margin-top:20px;
 }
 .contribute .contribute-item2{
     display:flex;
 }
 .contribute-item1 .contribute-item1-image{
     width: 825px;
 height: 550px;
     background-image: url('images/donation6.jpg');
     background-repeat: no-repeat;
     background-position: right;
     margin:111px 231px 0px 0px;
 
 }
 .contribute-item2 .contribute-item2-image{
     width: 456px;
 height: 477px;
     background-image: url('images/donation11.jpg');
     background-repeat: no-repeat;
     background-position: left;
     background-size: cover;
     margin:90px 60px 0px 156px;
 
 }
 .contribute-item1 .btn-primary{
     width:230px;
     height:56px;
     margin-bottom: 100px;
    
 }
 .contribute-item2 .btn-primary{
     margin-bottom: 197px;
     width:230px;
     height:56px;
 }
 .update{
     text-align:center;
     
 }
 
 .update-text .update-item-title{
     color: #121212;
     text-align: center;
     font-size: 45px;
     font-style: normal;
     font-weight: 700;
     margin-bottom: 20px;
    
 }
 .update-text .update-item-subtitle{
     
     color: #707070;
 text-align: center;
 font-family: Poppins;
 font-size: 18px;
 font-weight: 400;
 width: 691px;
 padding-left:375px;
 
 }
 .update-form{
     width: 950px;
 height: 200px;
 background: #FFF4D6;
 margin:50px 315px 130px 316px;
 
 }
 .update #email{
     border:0;
     width: 275px;
 height: 48px;
 border-radius: 5px 0px 0px 5px;
 background: #D9D9D9;
 margin:72px 0px 76px 189px;
 
 
 }
 .update .btn-primary{
     border:0;
     width: 157px;
 height: 48px;
 border-radius: 0px 5px 5px 0px;
 margin:90px 188px 76px 0px;
 }

/*footer style*/
.footer{
    background-color: black;
    text-align: center;
    margin:0px;

}
.footer h3{
    color: #FF5959;
    padding-top: 43px;
font-size: 36px;
font-weight: 400px;
margin-bottom: 24px;
}

.footer p{
    color:#eae7e7;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400px;
    padding-bottom: 42px;
    
}

